{% extends 'base_layout.html' %}

{% block title %}
    สร้าง Poll
{% endblock %}

{% block content %}
    <h1>สร้าง Poll</h1>
    <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label>ชื่อ</label>
            <input type="text" class="form-control" name='subject' placeholder="Enter poll name" required>
        </div>
        <div class="form-group">
            <label>รายละเอียด</label>
            <textarea class='form-control' name="detail" id="" cols="30" rows="10" required></textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="start_date">เริ่มโหวตได้ตอน</label>
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input name='start_date' type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" required/>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="end_date">เวลาปิด Poll</label>
                <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                    <input name='end_date' type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" required/>
                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="password">รหัสผ่าน</label>
                <input type="password" class="form-control" name='password' placeholder="Password">
            </div>
            <div class="form-group col-md-3">
                <label>รูปภาพ</label>
                <div class="custom-file">
                    <input type="file" name='picture'>
                </div>
            </div>
        </div>

        <button type="submit" class='btn btn-primary'>สร้าง</button>
    </form>
{% endblock %}
