{% extends 'base_layout.html' %}

{% block content %}
    <h1>สร้าง Poll</h1>
    <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label>ชื่อ</label>
            <input type="text" class="form-control" name='subject' placeholder="Enter poll name">
        </div>
        <div class="form-group">
            <label>รายละเอียด</label>
            <textarea class='form-control' name="detail" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="start_date">เริ่ม</label>
                <input type="datetime-local" class="form-control" id="start_date" name='start_date'>
            </div>
            <div class="form-group col-md-3">
                <label for="end_date">จบ</label>
                <input type="datetime" class="form-control" id="end_date" name='end_date'>
            </div>
            <div class="form-group col-md-3">
                <label for="password">รหัสผ่าน</label>
                <input type="password" class="form-control" name='password' placeholder="Password">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <p>รูปภาพ</p>
                <div class="custom-file">
                    <input type="file" class="" id="myInput" aria-describedby="myInput" name='picture'>
                </div>
            </div>
        </div>
        <button type="submit" class='btn btn-primary'>Create</button>
    </form>
{% endblock %}
