{% extends 'base_layout.html' %}
{% load static %}
{% block title %}
    {{ poll.subject }}
{% endblock %}

{% block content %}
    {% if success == 'success' %}
        <div class="alert alert-success mb-5 alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="alert-heading">ทําการโหวตเรียบร้อยแล้ว</h4>
            <p>
                ระบบได้บันทึกแล้วว่าคุณ "{{ request.user }}" ได้ทําการโหวตตัวเลือก "{{ vote_choice }}" ของกระทู้ที่มีชื่อว่า "{{ poll.subject }}"
            </p>
            <hr>
            <p class="mb-0">{% now "d/m/Y H:i" %} </p>
        </div>
    {% elif success == 'n-success' %}
        <div class="alert alert-danger mb-5 alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="alert-heading">ทําการโหวตไม่สําเร็จ</h4>
            <p>
                กรุณากรอกรหัสผ่านของกระทู้ "{{ poll.subject }}" ให้ถูกต้อง
            </p>
            <hr>
            <p class="mb-0">{% now "d/m/Y H:i" %} </p>
        </div>
    {% endif %}
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-8 mb-5 border-right pr-5">
                <h1 class='display-4'>
                    <span> {{ poll.subject }}</span>
                </h1>
                <p class="mt-5 display-5 white-space">{{ poll.detail }}</p>
                <p class="display-5 mt-5"> สร้างโดย : {{ poll.create_by }}</p>
            </div>
            <div class="col-lg-4 pl-5">
                <img src="{{ poll.picture.url }}" alt="" class='img-fluid rotate-img'>
            </div>
        </div>
    </div>

    <div class="container text-center py-5">
        <div class="row">
            <div class="col-4 border-right border-left">
                <h1>ทั้งหมด</h1>
                <h3>{{ number_of_users }}</h3>
            </div>
            <div class="col-4 border-right">
                <h1>โหวตแล้ว</h1>
                <h3 class='text-success'>{{ number_of_votes }}</h3>
            </div>
            <div class="col-4 border-right">
                <h1>ยังไม่โหวต</h1>
                <h3 class='text-danger'> {{ left }} </h3>
            </div>
        </div>
    </div>

    <h1 class='my-5'>ตัวเลือก <span class="badge badge-pill badge-primary text-light"> {{ choices|length }}</span></h1>
    <div class='container mb-5'>
        <div class="row">
            {% if choices|length == 0 %}
                <div class='col-lg-12 jumbotron text-center border border-dark'>
                    <img src="{% static 'images/choice.png' %}" width='15%' class='mb-5'>
                    <h4>ไม่มีตัวเลือก</h4>
                </div>
            {% endif %}
            {% for choice in choices %}
                {% if already_vote == False and poll.is_active == True %}
                    {% if poll.password == '' %}
                        <a href="{% url 'vote' choice.id %}" class='text-decoration-none col-md-3 my-3'>
                            <div class="card h-100 w-100 text-dark mycard text-center">
                                <div class="wrapper">
                                    <img class=" card-img-top" src="{{ choice.image.url }}" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <p class="card-title">
                                        {{ choice.subject }}
                                    </p>
                                </div>
                            </div>
                        </a>
                    {% else %}
                        <div type='button' class='col-md-3 my-3' data-toggle="modal" data-target="#myModal">
                            <div class="card h-100 w-100 text-dark mycard text-center">
                                <div class="wrapper">
                                    <img class=" card-img-top" src="{{ choice.image.url }}" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <p class="card-title">
                                        {{ choice.subject }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade in" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel">กระทู้นี้ต้องการรหัสผ่านเพื่อโหวต</h5>
                                    </div>
                                    <form action="{% url 'vote' choice.id %}" method="POST">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label class="col-form-label">รหัสผ่าน</label>
                                                <input type="password" class="form-control" name='password'>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class='btn btn-primary'>โหวต</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class='col-md-3 my-3'>
                        <div class="card h-100 w-100 text-dark mycard text-center">
                            <div class="wrapper">
                                <img class="card-img-top" src="{{ choice.image.url }}" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <p class="card-title">
                                    {{ choice.subject }}
                                </p>
                                <p class="card-text">
                                    {% if already_vote %}
                                        <span class='text-success'>
                                            คุณได้โหวตไปแล้ว
                                            <br>
                                            ({{ vote_choice }})
                                        </span>
                                    {% elif poll.is_active == False %}
                                        <span class="text-danger">ไม่สามารถโหวตได้</span>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="container">
        {% if poll.is_active == False or already_vote %}
            <h1 class='mb-5'>ผลลัพธ์การโหวต</h1>
            {% if number_of_votes != 0 %}
                {{ graph|safe }}
            {% else %}
                <div class='col-lg-12 jumbotron text-center border border-dark'>
                    <img src="{% static 'images/chart.png' %}" width='15%' class='mb-5'>
                    <h4>ไม่มีผลลัพธ์การโหวต</h4>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}