{% extends 'base_layout.html' %}

{% block title %}
    {{ poll.subject }}
{% endblock %}

{% block content %}

    <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg)">
        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
          <div class="py-5">

            <!-- Content -->
            <h5 class="h5 orange-text"><i class="fa fa-camera-retro"></i> Photography</h5>
            <h2 class="card-title h2 my-4 py-2"> {{ poll.subject }}</h2>
            <p class="mb-4 pb-2 px-md-5 mx-md-5"> {{ poll.detail }} </p>
            <a class="btn peach-gradient">Create by : {{ poll.create_by }}</a>

          </div>
        </div>
      </div>

    <h1 class='mb-5'>Choices</h1>
    <div class='container text-center'>
        <div class="row">
            {% for choice in choices %}
            <div class="col-md-3 my-3">
                <div class="card h-100 w-100">
                    <img class=" card-img-top" src="{{ choice.image.url }}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">
                            {{ choice.subject }}
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            {% if not already_vote and poll.end_date|date:'Y-m-d H:i' > now|date:'Y-m-d H:i' %}
                                <a href="{% url 'vote' choice.id %}" class='btn btn-warning'>โหวต</a>
                            {% else %}
                                <p class='text-success mt-5'> คุณได้โหวตไปแล้ว </p>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if already_vote or poll.end_date|date:'Y-m-d H:i' <= now|date:'Y-m-d H:i' %}
        <h1>แสดงข้อมูลผลลัพธ์การโหวต</h1>
        <ul>
            {% for vote in poll.poll_vote_set.all %}
                <li>{{ vote.vote_by }} โหวต {{ vote.choice_id }}</li>
            {% endfor %}
        </ul>
        <hr>
        {{ graph|safe }}
    {% endif %}
{% endblock %}