{% extends 'base_layout.html' %}

{% block content %}
    <h1>แก้ไข Poll ({{ poll.subject }}) </h1>
    <br>


    <form action="{% url 'edit' poll.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label>ชื่อ</label>
            <input type="text" class="form-control" name='subject' placeholder="Enter poll name" value="{{ poll.subject }}">
        </div>
        <div class="form-group">
            <label>รายละเอียด</label>
            <textarea class='form-control' name="detail" id="" cols="30" rows="10">{{ poll.detail }}</textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="start_date">เริ่มโหวตได้ตอน</label>
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input name='start_date' type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" value="{{ poll.start_date|date:'d/m/Y H:i' }}"/>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="end_date">เวลาปิด Poll</label>
                <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                    <input name='end_date' type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" value="{{ poll.end_date|date:'d/m/Y H:i' }}"/>
                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="password">รหัสผ่าน</label>
                <input type="password" class="form-control" name='password' placeholder="Password" value="{{ poll.password }}">
            </div>
        </div>

        <button type="submit" class='btn btn-primary'>แก้ไข</button>
    </form>

    <br><br><br>

    <a href="{% url 'add_choice' poll.id %}" class='btn btn-warning'>เพิ่มตัวเลือก</a>
    <div class="container text-center">
        <div class="row">
            {% for choice in poll.poll_choice_set.all %}
                <div class="col-md-3 my-3">
                    <div class="card h-100 w-100">
                        <img class=" card-img-top" src="{{ choice.image.url }}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">
                                {{ choice.subject }}
                            </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="{% url 'choice_delete' choice.id %}" class='btn btn-danger'>ลบ</a>
                            </li>
                        </ul>
                        <!-- <div class="card-footer">
                            <small class="text-muted">
                                Start at : {{ poll.start_date }} <br>
                                Close at : {{ poll.end_date }} <br>
                                Create by : {{ poll.create_by }}
                            </small>
                        </div> -->
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}