{% extends 'base_layout.html' %}
{% load static %}
{% block title %}
    หน้าแรก
{% endblock %}
{% block content %}

    <!-- Title and create poll btn -->
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mb-5">
                <h1 class='display-3'>
                    ยินดีต้อนรับ
                    <br>
                    <span class='text-primary'>{{ user }}</span>
                    <br>
                    เข้าสู่ระบบ
                    <br>
                    โคตรโหวต
                </h1>
                <p class="mt-4 display-5">เว็บไซต์นี้เป็นส่วนหนึ่งของวิชา Web programming KMITL 2019</p>

                <div>
                    <a href="{% url 'create' %}" class='btn btn-primary p-3 mt-3 ml-5 index-create-poll-btn'>สร้าง Poll ของคุณ</a>
                </div>

            </div>
            <div class="col-lg-7 text-center">
                <img src="{% static 'images/index_vote.svg' %}" alt="" class='img-fluid'>
            </div>
        </div>
    </div>

    <!-- Poll List -->

    <h1 class='text-center my-5'> Poll ทั้งหมดบนเว็บไซต์</h1>

    <ul class="nav nav-tabs nav-justified mb-5" id="nav-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="available-tab" data-toggle="tab" href="#available" role="tab" aria-controls="available" aria-selected="true">
                <h3 class='text-dark'>เปิดอยู่</h3>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="closed-tab" data-toggle="pill" href="#closed" role="tab" aria-controls="closed" aria-selected="false">
                <h3 class='text-dark'>ปิดแล้ว</h3>
            </a>
        </li>
    </ul>
    <div class="tab-content mb-5">
        <div class="tab-pane fade show active" id="available" role="tabpanel" aria-labelledby="available-tab">
            <!-- Available Poll List sorted by lastest -->
            <div class="container">
                <div class="row">
                    {% for poll in polls_avaliable %}
                        <div class="col-md-3 my-3">
                            <div class="card h-100 w-100">
                                <img class=" card-img-top" src="{{ poll.picture.url }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <b>{{ poll.subject }}</b>
                                    </h5>
                                    <p class="card-text">
                                        {{ poll.detail|truncatechars:20 }}
                                    </p>
                                </div>
                                <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            {% if poll.start_date|date:'Y-m-d H:i' <= now|date:'Y-m-d H:i' %}
                                                <a href="{% url 'detail' poll.id %}" class='btn btn-warning'>โหวต</a>
                                                {% if poll.create_by == user %}
                                                    <a href="{% url 'edit' poll.id %}" class='btn btn-danger'>แก้ไข</a>
                                                {% endif %}
                                            {% else %}
                                                <span href="{% url 'detail' poll.id %}" class='btn btn-secondary'>โหวต</span>
                                                {% if poll.create_by == user %}
                                                    <a href="{% url 'edit' poll.id %}" class='btn btn-danger'>แก้ไข</a>
                                                {% endif %}
                                            {% endif %}


                                        </li>
                                </ul>
                                <div class="card-footer">
                                    <small class="text-muted">
                                        <b>เริ่ม</b> : {{ poll.start_date|date:'d/m/Y H:i' }} <br>
                                        <b>สิ้นสุด</b> : {{ poll.end_date|date:'d/m/Y H:i' }} <br>
                                        <b>โดย</b> : {{ poll.create_by }}
                                    </small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="closed" role="tabpanel" aria-labelledby="closed-tab">
            <!-- Closed Poll List sorted by lastest -->
            <div class="container">
                <div class="row">
                    {% for poll in polls_closed %}
                        <div class="col-md-3 my-3">
                            <div class="card h-100 w-100">
                                <img class="card-img-top" src="{{ poll.picture.url }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <b>{{ poll.subject }}</b>
                                    </h5>
                                    <p class="card-text">
                                        {{ poll.detail|truncatechars:15 }}
                                    </p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a href="{% url 'detail' poll.id %}" class='btn btn-warning'>ผลลัพธ์</a>
                                    </li>
                                </ul>
                                <div class="card-footer">
                                    <small class="text-muted">
                                        <b>หมดเวลาตอน</b> : {{ poll.end_date|date:'d/m/Y H:i' }}<br>
                                        <b>โดย</b> : {{ poll.create_by }}
                                    </small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}