@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
*{
    font-family: 'Kanit';
    word-wrap: break-word;
}

body{
    animation: fadein .5s;
}

textarea{
    resize : none;
}

.white-space{
    white-space: pre-wrap;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.rotate-img{
    transition: .3s;
}

.rotate-img:hover{
    transform: rotate(5deg);
}

.index-create-poll-btn:hover{
    text-decoration: underline;
}

/* card hover animation */
.mycard{
    transition: .2s;
}

.mycard:hover{
    box-shadow: 0 4px 8px 0 gray;
    margin-top: 2%;
}

/* make card to have same height */
.wrapper {
    position: relative;
    overflow: hidden;
}

.wrapper:after {
    content: '';
    display: block;
    padding-top: 100%;
}

.wrapper img {
    width: auto;
    height: 100%;
    max-width: none;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.delete-btn{
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%,-50%);
    z-index: 100;
}