{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kod Vote</title>
    <!-- Icon -->
    <link rel="shortcut icon" href="{% static 'images/vote.png' %}" type="image/x-icon">
    <!-- Load bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/tempus.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!-- My Style -->
    <style>
        @import url('https://fonts.googleapis.com/css?family=Kanit:300&display=swap');
        *{
            font-family: 'Kanit';
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="{% url 'index' %}">
              <img src="{% static 'images/vote.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
              โครตโหวต
          </a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'mypolls' %}">Poll ของคุณ</a>
            </li>

            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">ออกจากระบบ</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">สมัครสมาชิก</a>
                </li>
            {% endif %}
          </ul>
        </div>
      </nav>

    <div class="container my-5">
        {% block content %}

        {% endblock %}
    </div>

    <!-- Load bootstrap JS -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tempus.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/local.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pygal.js' %}"></script>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                locale: 'th'
            });
            $('#datetimepicker2').datetimepicker({
                locale: 'th'
            });
        });
    </script>

</body>
</html>