{% extends 'base_layout.html' %}

{% block content %}
    <h1>เข้าสู่ระบบ</h1>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">ชื่อผู้ใช้งาน</label>
            <input type="text" class="form-control" name='username' placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">รหัสผ่าน</label>
            <input type="password" class="form-control" name='password' placeholder="Enter password">
            <small id="emailHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
        </div>
        <input type="hidden" name="next_url" value="{{ next_url }}">
        <button type="submit" class='btn btn-primary'>ยืนยัน</button>
    </form>

{% endblock %}