{% extends 'base_layout.html' %}
{% load static %}
{% block title %}
    เข้าสู่ระบบ
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center border-right p-5">
                <img src="{% static 'images/vote.png'%}" alt="" width='100%' class='rotate-img'>
            </div>
            <div class="col-md ml-5">
                <h1 class='mb-5'>เข้าสู่ระบบ <img width='45' src="{% static 'images/key.png' %}" alt=""> </h1>
                {% if error %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <i class="fa fa-exclamation-circle"></i> {{ error }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>ชื่อผู้ใช้งาน</label>
                        <input type="text" class="form-control" name='username' placeholder="ชื่อผู้ใช้งาน" required>
                    </div>
                    <div class="form-group">
                        <label for="password">รหัสผ่าน</label>
                        <div class="input-group">
                            <input id='poll-password' type="password" class="form-control" name='password' placeholder="รหัสผ่าน" required>
                            <div class="input-group-append" id='password-see' style='cursor: pointer;'>
                                <span class="input-group-text"><i class="fa fa-eye-slash" id='password-eye'></i></span>
                            </div>
                        </div>
                        <!-- <small class="form-text text-muted">We'll never share your password with anyone else.</small> -->
                    </div>
                    <input type="hidden" name="next_url" value="{{ next_url }}">
                    <button type="submit" class='btn btn-primary mt-3'>ยืนยัน</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}