{% extends 'base_layout.html' %}

{% block content %}
    <h1>Poll ทั้งหมดของคุณ <a href="{% url 'create' %}"> <i class="fa fa-plus-square" aria-hidden="true"></i> </a></h1>
    <div class="container">
        <div class="row">
            {% for poll in polls %}
                <div class="col-md-3 my-3">
                    <div class="card h-100 w-100">
                        <img class="card-img-top" src="{{ poll.picture.url }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ poll.subject }}</h5>
                            <p class="card-text">
                                {{ poll.detail|truncatechars:15 }}
                            </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="{% url 'edit' poll.id %}" class='btn btn-warning'>แก้ไข</a>
                                <a href="{% url 'poll_delete' poll.id %}" class='btn btn-danger'>ลบ</a>
                            </li>
                        </ul>
                        <div class="card-footer">
                            <small class="text-muted">
                                Start at : {{ poll.start_date }} <br>
                                Close at : {{ poll.end_date }} <br>
                            </small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}