{% extends 'base_layout.html' %}
{% load static %}
{% block title %}
    สมัครสมาชิก
{% endblock %}

{% block content %}
    <h1>สมัครสมาชิก <img width='45' src="{% static 'images/signup.png' %}" alt=""> </h1>
    {% if error %}
        <p class='text-danger'>{{error}}</p>
    {% endif %}
    <form method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">ชื่อผู้ใช้งาน</label>
            <input type="text" class="form-control" name='username' placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">รหัสผ่าน</label>
            <input type="password" class="form-control" name='password' placeholder="Enter password">
            <small class="form-text text-muted">We'll never share your password with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">ยืนยันรหัสผ่าน</label>
            <input type="password" class="form-control" name='confirm_password' placeholder="Enter password">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">อีเมล์</label>
            <input type="email" class="form-control" name='email' placeholder="Enter your email">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">ชื่อจริง</label>
            <input type="text" class="form-control" name='firstname' placeholder="First name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">นามสกุล</label>
            <input type="text" class="form-control" name='lastname' placeholder="Last name">
        </div>
        <button type="submit" class='btn btn-primary'>สมัครสมาชิก</button>
    </form>
{% endblock %}