{% extends 'base_layout.html' %}
{% load static %}
{% block title %}
    สมัครสมาชิก
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center border-right p-5">
                <img src="{% static 'images/vote.png'%}" alt="" width='100%' class='rotate-img'>
            </div>
            <div class="col-md ml-5">
                <h1 class='mb-5'>สมัครสมาชิก <img width='45' src="{% static 'images/signup.png' %}" alt=""> </h1>
                {% if error %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <i class="fa fa-exclamation-circle"></i> {{ error }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                <form method="POST" action="{% url 'signup' %}" class='needs-validation' novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <label>ชื่อผู้ใช้งาน</label>
                        <input type="text" class="form-control" name='username' placeholder="" required>
                        <small class="form-text text-muted">มีขนาดอย่างน้อย 6 ตัวอักษรขึ้นไป</small>
                    </div>
                    <div class="form-group">
                        <label>รหัสผ่าน</label>
                        <input type="password" class="form-control" name='password' placeholder="" required>
                        <small class="form-text text-muted">มีขนาดอย่างน้อย 8 ตัวอักษรขึ้นไป</small>
                    </div>
                    <div class="form-group">
                        <label>ยืนยันรหัสผ่าน</label>
                        <input type="password" class="form-control" name='confirm_password' placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label>อีเมล์</label>
                        <input type="email" class="form-control" name='email' placeholder="" required>
                        <small class="form-text text-muted">เช่น example@example.com</small>
                    </div>
                    <div class="form-group">
                        <label>ชื่อจริง</label>
                        <input type="text" class="form-control" name='firstname' placeholder="ชื่อจริง" required>
                    </div>
                    <div class="form-group">
                        <label>นามสกุล</label>
                        <input type="text" class="form-control" name='lastname' placeholder="นามสกุล" required>
                    </div>
                    <button type="submit" class='btn btn-primary'>สมัครสมาชิก</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}